* {box-sizing: border-box;}
body {
    font-family: 'Lora', serif;
    background: #eee;
}
main {
    max-width: 1024px;
    margin: 1rem auto;
    box-shadow: 0 4px 4px 2px rgba(0,0,0,.3);
    border-radius: 2rem;
    overflow: hidden;
}
h1 {
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(#41587b, #11284b);
    color: #fff;
    margin: 0;
    font-size: 3.5rem;
    padding: .75rem 0 .5rem;
    line-height: 1.1;
}

#quote {
    background: url(florian-wehde-nyc-skyline.jpg) center / cover no-repeat #EE6920;
    background-blend-mode: luminosity;
    color: white;
    padding: 20rem 0;
}
blockquote {
    font-size: 1.5rem;
    background: rgba(0,0,0,.8);
    padding: 1rem;
    width: 70%;
    margin: 0 auto;
}